.desktop-menu > h2 {
  cursor: pointer;
  font-style: italic;
}
.desktop-menu > * {
  margin-bottom: 5px;
}
.desktop-menu {
  grid-column: 1;
  grid-row: 1/4;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}

.desktop-container {
  display: none;
}
@media only screen and (min-width: 800px) {
  .desktop-container {
    display: grid;
    grid-template-rows: 4fr 14fr 2fr;
    grid-template-columns: 30vw auto 5vw;
    row-gap: 20px;
    width: 100vw;
    height: 100vh;
    align-items: start;
    justify-items: center;
  }
}
