.menu-container > * {
  text-transform: lowercase;
}
.menu-container {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.menu-container > h2 {
  margin: 15px 0px;
  font-weight: 100;
  cursor: pointer;
}

video {
  width: 90vw;
  margin: 50px 0px;
}
body {
  margin: 0;
  padding: 0;
}
video::-webkit-media-controls-start-playback-button {
  display: none;
  pointer-events: none;
}

h2 {
  font-weight: 400;
  margin: 0 50px;
}

a {
  color: inherit;
  text-decoration: none;
  text-emphasis: none;
}
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}
a:active {
  color: inherit;
}

.collapsed-menu-button {
  margin-top: 10vh;
  margin-bottom: "1.4em";
  letter-spacing: "5px";
}

.collapsed-menu-header {
  border-top: "2px black solid";
  padding: "30px 20px";
  letter-spacing: "5px";
}

.menu-container {
  margin-top: "10vh";
  display: "flex";
  align-items: "center";
  flex-direction: "column";
  text-transform: "lowercase";
}
.menu-button {
  cursor: "pointer";
  padding: "10px 40px";
  letter-spacing: "3px";
}
.menu-header {
  margin-top: "20px";
  letter-spacing: "3px";
}

@media only screen and (min-width: 600px) {
  .menu-container {
    min-width: 30vw;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: transparent;
  }
  .mainContainer {
    display: grid;
    grid-template-columns: 2fr 6fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}
