body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  overflow: hidden;
}

.navbar-mobile > * {
  text-transform: lowercase;
}
.navbar-mobile {
  z-index: 10000;
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.navbar-mobile > h2 {
  margin: 15px 0px;
  cursor: pointer;
}
.navbar-desktop > h2 {
  cursor: pointer;
  font-style: italic;
}

video {
  width: 100%;
}

.mobile-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.desktop-container {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}
video::-webkit-media-controls-start-playback-button {
  display: none;
  pointer-events: none;
}
h2 {
  font-weight: 400;
  margin: 0 50px;
}

a {
  color: inherit;
  text-decoration: none;
  text-emphasis: none;
}
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}
a:active {
  color: inherit;
}
.navbar-desktop > * {
  margin-bottom: 5px;
}
.navbar-desktop {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 90%;
}
.text-container {
  position: relative;
  width: 90%;
  text-align: center;
}

.single-film-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vh;
  width: 100%;
}

.iframe-container > iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.menu-header {
  font-weight: 700;
  cursor: pointer;
  padding: 10px 40px;
  letter-spacing: 5px;
}

.swantje-furtak-header {
  letter-spacing: 8px;
  text-align: center;
  font-weight: 100;
  font-size: 0.8;
  grid-row: 3;
  grid-column: 2;
  margin: 0px;
  align-self: center;
  justify-self: center;
}

.mobile-menu-collapsed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  text-transform: lowercase;
  font-size: 0.8em;
}

.film-container {
  width: 100%;
  grid-column: 2;
}

.scrollable-container,
.container {
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  width: 100vw;
  height: 100%;
  grid-column: 2;
  grid-row: 2;
}
.scrollable-container {
  width: 90%;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  margin-top: 20px;
  padding-bottom: 20px;
}
.scrollable-container::-webkit-scrollbar,
.mobile-container::-webkit-scrollbar {
  display: none;
}

.scrollable-container,
mobile-container {
  -ms-overflow-style: none;
}

hr.rounded {
  border-top: 2px solid;
  border-radius: 5px;
}

.text-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.film-numbers {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em;
  margin-right: 20px;
}
.film-numbers > * {
  margin: 0 10px;
}

@media only screen and (min-width: 800px) {
  video {
    max-height: 80vh;
    max-width: 90%;
    width: auto;
  }
  .desktop-container {
    display: grid;
    grid-template-rows: 2fr 14fr 2fr;
    grid-template-columns: 30vw auto 5vw;
    row-gap: 20px;
    width: 100vw;
    height: 100vh;
    align-items: start;
    justify-items: center;
  }
  .film-numbers {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    width: 50%;
    justify-self: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
    margin-right: 0;
  }
  .film-numbers > * {
    margin: 0;
  }
  .mobile-container {
    display: none;
  }
  .container {
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .scrollable-container {
    margin-top: 0;
  }
}
