.navbar-mobile > * {
  text-transform: lowercase;
}
.navbar-mobile {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
.navbar-mobile > h2 {
  margin: 15px 0px;
  font-weight: 100;
  cursor: pointer;
}
video {
  width: 90%;
}

@media only screen and (min-width: 800px) {
  video {
    max-height: 80vh;
    max-width: 90%;
    width: auto;
  }
}
body {
  margin: 0;
  padding: 0;
}
video::-webkit-media-controls-start-playback-button {
  display: none;
  pointer-events: none;
}
h2 {
  font-weight: 400;
  margin: 0 50px;
}

a {
  color: inherit;
  text-decoration: none;
  text-emphasis: none;
}
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}
a:active {
  color: inherit;
}

.desktop-navbar {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desktop-navbar > * {
  margin: 30px 0;
}
